# Quarto
.quarto/
_site/
*.html
*.pdf
*.docx
.DS_Store

*.quarto_ipynb

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/
*.nbconvert.ipynb
*.out.ipynb

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv

# OS / Editor
*.log
*.tmp
*.swp
*.bak
*~
.vscode/
