/*-- scss:defaults --*/
/* Variables */
$font-size-base: 0.97rem;
$font-size-small: 0.80rem;
$table-border-color: #ddd;
$table-zebra-color: #f9f9f9;
$table-header-bg: #f0f4f8;
$table-header-text: #333;
$code-bg: #f8f9fa;
$code-border: #e0e0e0;
$sidebar-bg: #ffffff;
$sidebar-border: #ccc;
$sidebar-text: #111;
$sidebar-active-bg: #f4a281;

/*-- scss:rules --*/

/* Headings */
h1 {font-size: 1.6rem;}

h2 {font-size: 1.4rem;}

h3 {font-size: 1.15rem;}

h4 {font-size: 1rem;}


/* Table styles */
table {
  border-collapse: collapse;
  width: 100%;
  font-size: $font-size-base;
  margin-bottom: 1.5em;
}

table td,
table th {
  border: 1px solid $table-border-color;
}

tr:first-child th {
  background-color: $table-header-bg;
  color: $table-header-text;
  font-weight: 600;
}

td {
  padding: 0.75em;
  border-bottom: 1px solid #dee2e6;
}

/* Striped tables */
tr:nth-child(even) {
  background-color: $table-zebra-color;
}

.small-table table {
  font-size: 0.80rem; 
}

/* set minimum width on first column in small table*/
.small-table td:first-child {
  min-width: 70px;
}

/* Code blocks */
pre code {
  font-size: $font-size-small;
  background-color: $code-bg;
  border: 1px solid $code-border;
  padding: 0.75em;
  border-radius: 6px;
}

/* Inline paragraph code*/
p code {
  color: #d63384;
  background-color: #f8f9fa;
  font-weight: 500; 
}

/* Sidebar */
.sidebar-navigation {
  background-color: $sidebar-bg;
  border-right: 1px solid $sidebar-border;

  // Subtle shadow for a soft divider:
  // box-shadow: 2px 0 3px rgba(0, 0, 0, 0.05);

  font-size: $font-size-base;
  padding-left: 10rem;
  padding-right: 1rem;

  a {
    color: $sidebar-text !important;
  }

  .active {
    background-color: $sidebar-active-bg !important;
  }
}

/* Logo and header spacing */
.sidebar-title {
  margin-bottom: 1rem;
}

.sidebar-logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

